@using Microsoft.AspNetCore.Http
@using X.PagedList;
@using X.PagedList.Mvc.Core




@model Prj_CSharpGo.Models.ViewModels.ProductHome

@{
    ViewData["Title"] = "商品";
}




<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="apple-touch-icon" href="~/Bassets/img/apple-icon.png">
    <link rel="shortcut icon" type="image/x-icon" href="~/Bassets/img/favicon.ico">

    <link rel="stylesheet" href="~/Bassets/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/Bassets/css/templatemo.css">
    <link rel="stylesheet" href="~/Bassets/css/custom.css">

    <!-- Load fonts style after rendering the layout styles -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;200;300;400;500;700;900&display=swap">
    <link rel="stylesheet" href="~/Bassets/css/fontawesome.min.css">

    <style>

        h6, .h6, h5, .h5, h4, .h4, h3, .h3, h2, .h2, h1, .h1, li, .li, p, .p {
            font-weight: 700;
        }

        .paginate.pag1 ul a:hover {
            background: #eee;
            color: #555;
        }



    </style>

</head>

<body>


    <!-- Modal -->
    <div class="modal fade bg-white" id="templatemo_search" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="w-100 pt-1 mb-5 text-right">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form action="" method="get" class="modal-content modal-body border-0 p-0">
                <div class="input-group mb-2">
                    <input type="text" class="form-control" id="inputModalSearch" name="q" placeholder="Search ...">
                    <button type="submit" class="input-group-text bg-success text-light">
                        <i class="fa fa-fw fa-search text-white"></i>
                    </button>
                </div>
            </form>
        </div>
    </div>



    <!-- Start Content -->
    <br /> <br /> <br /> <br /> <br />

    <div class="container py-5" style="margin-top:-70px">
        <div class="row">

            <div class="col-lg-3" style="width: 300px">
                <h1 class="h2 pb-4">商品分類</h1>
                <ul class="list-unstyled templatemo-accordion">

                    @foreach (var item in Model.categories)
                    {
                        <li class="pb-3">
                            <a class="collapsed d-flex justify-content-between h3 text-decoration-none" href="/CampProducts/Index">
                                @item.CategoryName
                                <i class="fa fa-fw fa-chevron-circle-down mt-1"></i>
                            </a>
                            <ul class="collapse show list-unstyled pl-3">
                                @foreach (var itema in Model.categoriesTypeIs)
                                {
                                    if (item.CategoryId == itema.CategoryId)
                                    {
                                        <li><a class="text-decoration-none" href="/CampProducts/Index?categoryid=@item.CategoryId&categorytype=@itema.CategoryTypeI">@itema.TypeIname</a></li>
                                    }

                                }
                            </ul>
                        </li>
                    }

                </ul>
            </div>

            <div class="col-lg-9">
                <div class="row">
                    <div class="col-md-6" style="width:550px">
                        <ul class="list-inline shop-top-menu pb-3 pt-1">
                            <li class="list-inline-item">
                                <a class="h3 text-dark text-decoration-none mr-3" href="/CampProducts/Index">全部</a>
                            </li>

                            @foreach (var item in Model.categories)
                            {
                                <li class="list-inline-item">
                                    <a href="/CampProducts/Index?categoryid=@item.CategoryId" class="h3 text-dark text-decoration-none mr-3">@item.CategoryName</a>
                                </li>

                            }


                        </ul>
                    </div>

                </div>
                <form  class="" action="/PShopCart/AddCart" method="post">
                    <div class="row">


                        @foreach (var item in Model.products)
                        {
                            <input type="hidden" name="UserId" value="1001">
                            <input type="hidden" name="ProductId" value="@item.ProductId">
                            <div class="col-md-4">
                                <div class="card mb-4 product-wap rounded-0">

                                    @if (Model.productImgs.ToList().FirstOrDefault(x => x.ProductId == item.ProductId) != null)
                                    {

                                        <div class="card rounded-0">
                                            <img class="card-img rounded-0 img-fluid" style="width:302.8px;height:302.8px" src="/img/ProductsImg/@Model.productImgs.ToList().FirstOrDefault(x => x.ProductId == item.ProductId).Img">
                                            <div class="card-img-overlay rounded-0 product-overlay d-flex align-items-center justify-content-center">
                                                <ul class="list-unstyled">
                                                    @*<li><a class="btn btn-success text-white" href="shop-single.html"><i class="far fa-heart"></i></a></li>*@
                                                    <li><a class="btn btn-success text-white mt-2" href="/CampProducts/ProductDetail?productid=@item.ProductId"><i class="far fa-eye"></i></a></li>
                                                    @*<li><a class="btn btn-success text-white mt-2" href="shop-single.html"><i class="fas fa-cart-plus"></i></a></li>*@
                                                    @*<li><a class="btn btn-success text-white mt-2" href="/PShopCart/Index"><i class="fas fa-cart-plus"></i></a></li>*@
                                                </ul>
                                            </div>
                                        </div>

                                    }
                                    else
                                    {
                                        <div class="card rounded-0">
                                            無照片
                                            <div class="card-img-overlay rounded-0 product-overlay d-flex align-items-center justify-content-center">
                                                <ul class="list-unstyled">
                                                    @*<li><a class="btn btn-success text-white" href="shop-single.html"><i class="far fa-heart"></i></a></li>*@
                                                    <li><a class="btn btn-success text-white mt-2" href="/CampProducts/ProductDetail?productid=@item.ProductId"><i class="far fa-eye"></i></a></li>
                                                    @*<li><a class="btn btn-success text-white mt-2" href="shop-single.html"><i class="fas fa-cart-plus"></i></a></li>*@
                                                </ul>
                                            </div>
                                        </div>
                                    }

                                    <div class="card-body">
                                        <a href="/CampProducts/ProductDetail?productid=@item.ProductId" class="h3 text-decoration-none">@item.ProductName</a>
                                        <input type="hidden" name="ProductName" value="@item.ProductName">
                                        <ul class="w-100 list-unstyled d-flex justify-content-between mb-0">

                                            <li>@Model.categories.Where(s => s.CategoryId == item.CategoryId).FirstOrDefault().CategoryName</li>
                                            <li>@Model.categoriesTypeIs.Where(s => s.CategoryTypeI == item.CategoryType).FirstOrDefault().TypeIname</li>

                                            <li class="pt-2">
                                                <span class="product-color-dot color-dot-red float-left rounded-circle ml-1"></span>
                                                <span class="product-color-dot color-dot-blue float-left rounded-circle ml-1"></span>
                                                <span class="product-color-dot color-dot-black float-left rounded-circle ml-1"></span>
                                                <span class="product-color-dot color-dot-light float-left rounded-circle ml-1"></span>
                                                <span class="product-color-dot color-dot-green float-left rounded-circle ml-1"></span>
                                            </li>
                                        </ul>

                                        <p class="text-center mb-0">$@item.UnitPrice</p>
                                        <input type="hidden" name="UnitPrice" value=" @item.UnitPrice">
                                    </div>
                                </div>
                            </div>
                        }

                    </div>

                </form>
                <div div="row" style="margin-top:45px">
                    <ul class="pagination pagination-lg justify-content-end">
                        @Html.PagedListPager((IPagedList)Model.products, x => Url.Action("Index", new { page = x, categoryid = Model.userModel.CategoryId, categorytype = Model.userModel.CategoryType }),
                            new X.PagedList.Web.Common.PagedListRenderOptions
                            {
                                LiElementClasses = new string[] { "page-item" },
                                PageClasses = new string[] { "page-link" }


                            })






                            @*<li class="page-item disabled">
                                <a class="page-link active rounded-0 mr-3 shadow-sm border-top-0 border-left-0" href="#" tabindex="-1">1</a>
                            </li>
                            <li class="page-item">
                                <a class="page-link rounded-0 mr-3 shadow-sm border-top-0 border-left-0 text-dark" href="#">2</a>
                            </li>
                            <li class="page-item">
                                <a class="page-link rounded-0 shadow-sm border-top-0 border-left-0 text-dark" href="#">3</a>
                            </li>*@
                        


                    </ul>
                </div>
            </div>

        </div>
    </div>
    <!-- End Content -->
    <!-- Start Brands -->
    <section class="bg-light py-5">
        <div class="container my-4">
            <div class="row text-center py-3">
                <div class="col-lg-6 m-auto">
                    <h1 class="h1">Our Products</h1>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                        Lorem ipsum dolor sit amet.
                    </p>
                </div>
                <div class="col-lg-9 m-auto tempaltemo-carousel">
                    <div class="row d-flex flex-row">
                        <!--Controls-->
                        <div class="col-1 align-self-center">
                            <a class="h1" href="#multi-item-example" role="button" data-bs-slide="prev">
                                <i class="text-light fas fa-chevron-left"></i>
                            </a>
                        </div>
                        <!--End Controls-->
                        <!--Carousel Wrapper-->
                        <div class="col">
                            <div class="carousel slide carousel-multi-item pt-2 pt-md-0" id="multi-item-example" data-bs-ride="carousel">
                                <!--Slides-->
                                <div class="carousel-inner product-links-wap" role="listbox">

                                    <!--First slide-->
                                    <div class="carousel-item active">
                                        <div class="row">
                                            <div class="col-3 p-md-5">
                                                <a href="#"><img class="img-fluid brand-img" src="~/img/ProductsImg/Aa10SP004.jpg" style="width:110.25px; height:110.25px" alt="Brand Logo"></a>
                                            </div>
                                            <div class="col-3 p-md-5">
                                                <a href="#"><img class="img-fluid brand-img" src="~/img/ProductsImg/Aa42SP023.jpg" style="width:110.25px; height:110.25px" alt="Brand Logo"></a>
                                            </div>
                                            <div class="col-3 p-md-5">
                                                <a href="#"><img class="img-fluid brand-img" src="~/img/ProductsImg/Aa41ND018.jpg" style="width:110.25px; height:110.25px" alt="Brand Logo"></a>
                                            </div>
                                            <div class="col-3 p-md-5">
                                                <a href="#"><img class="img-fluid brand-img" src="~/img/ProductsImg/Aa20SP010.jpg" style="width:110.25px; height:110.25px" alt="Brand Logo"></a>
                                            </div>
                                        </div>
                                    </div>
                                    <!--End First slide-->
                                    <!--Second slide-->
                                    <div class="carousel-item">
                                        <div class="row">
                                            <div class="col-3 p-md-5">
                                                <a href="#"><img class="img-fluid brand-img" src="~/img/ProductsImg/Bb10HN038.jpg" style="width:110.25px; height:110.25px" alt="Brand Logo"></a>
                                            </div>
                                            <div class="col-3 p-md-5">
                                                <a href="#"><img class="img-fluid brand-img" src="~/img/ProductsImg/Bb10TT040.jpg" style="width:110.25px; height:110.25px" alt="Brand Logo"></a>
                                            </div>
                                            <div class="col-3 p-md-5">
                                                <a href="#"><img class="img-fluid brand-img" src="~/img/ProductsImg/Bb20CL043.jpg" style="width:110.25px; height:110.25px" alt="Brand Logo"></a>
                                            </div>
                                            <div class="col-3 p-md-5">
                                                <a href="#"><img class="img-fluid brand-img" src="~/img/ProductsImg/Bb20CL049.jpg" style="width:110.25px; height:110.25px" alt="Brand Logo"></a>
                                            </div>
                                        </div>
                                    </div>
                                    <!--End Second slide-->
                                    <!--Third slide-->
                                    <div class="carousel-item">
                                        <div class="row">
                                            <div class="col-3 p-md-5">
                                                <a href="#"><img class="img-fluid brand-img" src="~/img/ProductsImg/Cc10CS051.jpeg" style="width:110.25px; height:110.25px" alt="Brand Logo"></a>
                                            </div>
                                            <div class="col-3 p-md-5">
                                                <a href="#"><img class="img-fluid brand-img" src="~/img/ProductsImg/Cc10BD056.jpg" style="width:110.25px; height:110.25px" alt="Brand Logo"></a>
                                            </div>
                                            <div class="col-3 p-md-5">
                                                <a href="#"><img class="img-fluid brand-img" src="~/img/ProductsImg/Cc10CS052.jpeg" style="width:110.25px; height:110.25px" alt="Brand Logo"></a>
                                            </div>
                                            <div class="col-3 p-md-5">
                                                <a href="#"><img class="img-fluid brand-img" src="~/img/ProductsImg/Cc10CS053.jpeg" style="width:110.25px; height:110.25px" alt="Brand Logo"></a>
                                            </div>
                                        </div>
                                    </div>
                                    <!--End Third slide-->


                                </div>
                                <!--End Slides-->
                            </div>
                        </div>
                        <!--End Carousel Wrapper-->
                        <!--Controls-->
                        <div class="col-1 align-self-center">
                            <a class="h1" href="#multi-item-example" role="button" data-bs-slide="next">
                                <i class="text-light fas fa-chevron-right"></i>
                            </a>
                        </div>
                        <!--End Controls-->
                    </div>
                </div>
            </div>
        </div>
    </section>



    <!--End Brands-->
    <!-- Start Script -->
    <script src="~/Bassets/js/jquery-1.11.0.min.js"></script>
    <script src="~/Bassets/js/jquery-migrate-1.2.1.min.js"></script>
    <script src="~/Bassets/js/bootstrap.bundle.min.js"></script>
    <script src="~/Bassets/js/templatemo.js"></script>
    <script src="~/Bassets/js/custom.js"></script>
    <!-- End Script -->
</body>

</html>