@using Microsoft.AspNetCore.Http

@model IEnumerable<Prj_CSharpGo.Models.Camp>

@inject Microsoft.AspNetCore.Http.IHttpContextAccessor emp

@{
    ViewData["Title"] = "Camp";
    Layout = "~/Views/Shared/EmployeeLayout.cshtml";
    string empToastr = emp.HttpContext.Session.GetString("employeeToastr") ?? "Guest";
}

<h1 class="title_font">露營區資料</h1>
<hr />

<table class="table">
    <thead>
        <tr>
            <th>
                區域名稱
            </th>
            <th>
                尺寸
            </th>
            <th>
                帳數
            </th>
            <th>
                平日價格
            </th>
            <th>
                假日價格
            </th>
            <th>
                人數限制
            </th>
            <th>
                加購人頭價
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <a href="/Camp/Index"> @Html.DisplayFor(modelItem => item.CampName) </a> 
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CampSize)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CampQuantity)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.WeekdayPrice)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.HolidayPrice)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LimitPeople)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PlusPrice)
                </td>

                <td class="text-xl-right">
                    <a href="/Employee/CampEdit/@item.CampId" class="btn btn-info btn-icon-split">
                        <span class="icon text-white-50">
                            <i class="fas fa-info-circle"></i>
                        </span>
                        <span class="text">編輯資料</span>
                    </a>
                </td>

            </tr>
        }
    </tbody>
</table>

@if (empToastr != "Guest")
{
    <script type="text/javascript">

        $(function () {

        Command: toastr["success"]("@empToastr");
        @{emp.HttpContext.Session.Remove("employeeToastr");}

        toastr.options = {
            "closeButton": false,
            "debug": false,
            "newestOnTop": false,
            "progressBar": true,
            "positionClass": "toast-top-right",
            "preventDuplicates": false,
            "onclick": null,
            "showDuration": "300",
            "hideDuration": "1000",
            "timeOut": "5000",
            "extendedTimeOut": "1000",
            "showEasing": "swing",
            "hideEasing": "linear",
            "showMethod": "fadeIn",
            "hideMethod": "fadeOut"
        }
    })
    </script>
}