@model Prj_CSharpGo.Models.Camp

@{
    ViewData["Title"] = "營地編輯";
    Layout = "~/Views/Shared/EmployeeLayout.cshtml";
}

<h1 class="title_font">營地編輯</h1>

<h4>請輸入修改資料</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="CampEdit" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="CampId" />

            <div class="form-group row">
                <label asp-for="CampName" class="col-sm-3 col-form-label">區域名稱</label>
                <div class="col-sm-9">
                    <input asp-for="CampName" class="form-control" value="@Model.CampName" />
                </div>
                <label class="col-sm-3 col-form-label"></label>
                <span asp-validation-for="CampName" class="text-danger"></span>
            </div>

            <div class="form-group row">
                <label asp-for="CampSize" class="col-sm-3 col-form-label">尺寸</label>
                <div class="col-sm-9">
                    <input asp-for="CampSize" class="form-control" value="@Model.CampSize" />
                </div>
                <label class="col-sm-3 col-form-label"></label>
                <span asp-validation-for="CampSize" class="text-danger"></span>
            </div>


            <div class="form-group row">
                <label asp-for="CampQuantity" class="col-sm-3 col-form-label">帳數</label>
                <div class="col-sm-9">
                    <input asp-for="CampQuantity" class="form-control" value="@Model.CampQuantity" />
                </div>
                <label class="col-sm-3 col-form-label"></label>
                <span asp-validation-for="CampQuantity" class="text-danger"></span>
            </div>

            <div class="form-group row">
                <label asp-for="WeekdayPrice" class="col-sm-3 col-form-label">平日價格</label>
                <div class="col-sm-9">
                    <input asp-for="WeekdayPrice" class="form-control" value="@Model.WeekdayPrice" />
                </div>
                <label class="col-sm-3 col-form-label"></label>
                <span asp-validation-for="WeekdayPrice" class="text-danger"></span>
            </div>



            <div class="form-group row">
                <label asp-for="HolidayPrice" class="col-sm-3 col-form-label">假日價格</label>
                <div class="col-sm-9">
                    <input asp-for="HolidayPrice" class="form-control" value="@Model.HolidayPrice" />
                </div>
                <label class="col-sm-3 col-form-label"></label>
                <span asp-validation-for="HolidayPrice" class="text-danger"></span>
            </div>

            <div class="form-group row">
                <label asp-for="LimitPeople" class="col-sm-3 col-form-label">人數限制</label>
                <div class="col-sm-9">
                    <input asp-for="LimitPeople" class="form-control" value="@Model.LimitPeople" />
                </div>
                <label class="col-sm-3 col-form-label"></label>
                <span asp-validation-for="LimitPeople" class="text-danger"></span>
            </div>



            <div class="form-group row">
                <label asp-for="PlusPrice" class="col-sm-3 col-form-label">加購人頭價</label>
                <div class="col-sm-9">
                    <input asp-for="PlusPrice" class="form-control" value="@Model.PlusPrice" />
                </div>
                <label class="col-sm-3 col-form-label"></label>
                <span asp-validation-for="PlusPrice" class="text-danger"></span>
            </div>

            <div class="form-group row">
                <label asp-for="PlusPrice" class="col-sm-3 col-form-label">加購人頭價</label>
                <div class="col-sm-9">
                    <input asp-for="PlusPrice" class="form-control" value="@Model.PlusPrice" />
                </div>
                <label class="col-sm-3 col-form-label"></label>
                <span asp-validation-for="PlusPrice" class="text-danger"></span>
            </div>

            <div class="form-group row d-none">
                <label asp-for="Ahref" class="col-sm-3 col-form-label">Ahref</label>
                <div class="col-sm-9">
                    <input asp-for="Ahref" class="form-control" value="@Model.Ahref" />
                </div>
                <label class="col-sm-3 col-form-label"></label>
                <span asp-validation-for="Ahref" class="text-danger"></span>
            </div>

            <div class="form-group row d-none">
                <label asp-for="Img" class="col-sm-3 col-form-label">Img</label>
                <div class="col-sm-9">
                    <input asp-for="Img" class="form-control" value="@Model.Img" />
                </div>
                <label class="col-sm-3 col-form-label"></label>
                <span asp-validation-for="Img" class="text-danger"></span>
            </div>

            <div class="form-group row">

                <img id="output" src="~/img/@Model.Img" style="width: 400px; height: 300px;" class="form-control mt-1" runat="server" />
                <input type="file" name="ImgName" accept="image/*" onchange="loadFile(event)" runat="server">
            </div>

            <div class="form-group">
                <input type="submit" value="確定送出" class="btn btn-primary" runat="server" />
                <a href="/Employee/Camp" class="btn btn-danger">回到清單</a>
            </div>

        </form>
    </div>
</div>

<script>
    var loadFile = function (event) {
        var output = document.getElementById('output');
        output.src = URL.createObjectURL(event.target.files[0]);
        output.onload = function () {
            URL.revokeObjectURL(output.src) // free memory
        }
    };
</script>