@using Microsoft.AspNetCore.Http

@model Prj_CSharpGo.Models.Employee
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor emp

@{
    string empId = emp.HttpContext.Session.GetString("employeeId") ?? "Guest";
    string empStatus = emp.HttpContext.Session.GetString("employeeStatus") ?? "Guest";
    string empToastr = emp.HttpContext.Session.GetString("employeeToastr") ?? "Guest";
}

@{
    ViewData["Title"] = "編輯";
    Layout = "EmployeeLayout";
}

<link href="~/Content/toastr.min.css" rel="stylesheet" />
<script src="~/js/toastr.min.js"></script>

<h1 class="title_font">員工編輯</h1>
<h4>
    請輸入修改資料
</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form action="/Employee/Edit/@Model.EmployeeId" method="post">

            @Html.AntiForgeryToken()
            <div class="form-group row">
                <label class="col-sm-3 col-form-label" for="EmployeeId">編號</label>
                <div class="col-sm-9">
                    <input class="form-control-plaintext" type="number" id="EmployeeId" name="EmployeeId" readonly value="@Model.EmployeeId" />
                </div>
                <label class="col-sm-3 col-form-label"></label>
                <span class="text-danger field-validation-valid" data-valmsg-for="EmployeeId" data-valmsg-replace="true"></span>
            </div>

            <div class="form-group row">
                <label class="col-sm-3 col-form-label" for="EmployeeEmail">Email</label>
                <div class="col-sm-9">
                    <input class="form-control-plaintext" type="email" id="EmployeeEmail" name="EmployeeEmail" readonly value="@Model.EmployeeEmail" />
                </div>
                <label class="col-sm-3 col-form-label"></label>
                <span class="text-danger field-validation-valid" data-valmsg-for="EmployeeEmail" data-valmsg-replace="true"></span>
            </div>

            @if (empId == @Model.EmployeeId.ToString())
            {
                <div class="form-group row">
                    <label class="col-sm-3 col-form-label" for="EmployeeName">名字</label>
                    <div class="col-sm-9">
                        <input class="form-control" type="text" id="EmployeeName" name="EmployeeName" value="@Model.EmployeeName" />
                    </div>
                    <label class="col-sm-3 col-form-label"></label>
                    <span class="text-danger field-validation-valid" data-valmsg-for="EmployeeName" data-valmsg-replace="true"></span>
                </div>

                <div class="form-group row">
                    <label class="col-sm-3 col-form-label" for="EmployeePassword">密碼</label>
                    <div class="col-sm-9">
                        <input class="form-control" type="password" data-val="true" data-val-required="不可空白" id="EmployeePassword" name="EmployeePassword" value="@Model.EmployeePassword" />
                    </div>
                    <label class="col-sm-3 col-form-label"></label>
                    <span class="text-danger field-validation-valid" data-valmsg-for="EmployeePassword" data-valmsg-replace="true"></span>
                </div>

            }
            else
            {

                <div class="form-group row">
                    <label class="col-sm-3 col-form-label" for="EmployeeName">名字</label>
                    <div class="col-sm-9">
                        <input class="form-control-plaintext" type="text" id="EmployeeName" name="EmployeeName" readonly value="@Model.EmployeeName" />
                    </div>
                    <label class="col-sm-3 col-form-label"></label>
                    <span class="text-danger field-validation-valid" data-valmsg-for="EmployeeName" data-valmsg-replace="true"></span>
                </div>

                <div class="form-group row d-none">
                    <label class="col-sm-3 col-form-label" for="EmployeePassword">密碼</label>
                    <input class="form-control-plaintext col-sm-9" type="password" data-val="true" data-val-required="密碼不可空白" id="EmployeePassword" name="EmployeePassword" readonly value="@Model.EmployeePassword" />
                    <label class="col-sm-3 col-form-label"></label>
                    <span class="text-danger field-validation-valid" data-valmsg-for="EmployeePassword" data-valmsg-replace="true"></span>
                </div>


            }

            <div class="form-group row">
                <label class="col-sm-3 col-form-label" for="EmployeeStatus">職稱</label>
                <div class="col-sm-9">
                    <select name="EmployeeStatus" class="form-control">
                        @{
                            if (empStatus == "True")
                            {
                                if (Model.EmployeeStatus == true)
                                {
                                    <option value="true" selected>主管</option>
                                    <option value="false">員工</option>
                                    <option value=" ">註銷</option>
                                }
                                else if (Model.EmployeeStatus == false)
                                {
                                    <option value="true">主管</option>
                                    <option value="false" selected>員工</option>
                                    <option value=" ">註銷</option>
                                }
                                else
                                {
                                    <option value="true">主管</option>
                                    <option value="false">員工</option>
                                    <option value=" " selected>註銷</option>
                                }
                            }
                            else
                            {
                                <option value="false" selected>員工</option>
                            }
                        }
                    </select>
                </div>
                    <label class="col-sm-3 col-form-label"></label>
                </div>

            <div class="form-group">
                <input type="submit" value="確定送出" class="btn btn-primary" />
                <a href="/Employee" class="btn btn-danger">回到清單</a>
            </div>

        </form>
    </div>
</div>

