@using Microsoft.AspNetCore.Http
@using X.PagedList;
@using X.PagedList.Mvc.Core
@using X.PagedList.Web.Common

@model IEnumerable<Prj_CSharpGo.Models.User>
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor emp

@{
    string empToastr = emp.HttpContext.Session.GetString("employeeToastr") ?? "Guest";
}

@{
    ViewData["Title"] = "Member";
    Layout = "EmployeeLayout";
}

<h1 class="title_font">會員資料</h1>
<hr />
<div class="search-form">
    <label> 帳號 或 Email 搜索 </label>
    <input id="search-input" type="text" placeholder="" />
    <style id="m-search"></style>

    <div class="form-group d-inline">
        <button id="nowGive1" type="button" class="btn btn-light border border-0">.</button>
    </div>
    <span>&emsp;</span>
    <div class="form-group d-inline">
        <button id="nowGive2" type="button" class="btn btn-light border border-0">.</button>
    </div>

</div>


<script>
    var that = $(this);
    var mSearch = $("#m-search");
    $("#search-input").bind("change paste keyup focus", function () {
        var value = $(this).val();
        if (!value) {
            mSearch.html("");
            return;
        };
        mSearch.html('.wrap:not([data-index*="' + value + '"]) {display: none;}');
    });
</script>

<table class="table">
    <thead>
        <tr>
            <th>
                會員編號
            </th>
            <th>
                帳號
            </th>
            <th>
                Email
            </th>
            <th>
                名字
            </th>
            <th>
                電話
            </th>
            <th>
                帳號狀態
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr class="wrap" data-index="@item.UserAccount @item.Email">
                <td>
                    @item.UserId
                </td>
                <td>
                    @item.UserAccount
                </td>
                <td>
                    @item.Email
                </td>
                <td>
                    @item.UserName
                </td>
                <td>
                    @item.Phone
                </td>
                @if (item.UserStatus == "NR")
                {
                    <td>
                        正常
                    </td>
                }
                else if (item.UserStatus == "SP")
                {
                    <td>
                        停權
                    </td>
                }
                else
                {
                    <td>
                        註銷
                    </td>
                }

                <td class="text-xl-right">
                    <a href="/Employee/MemberEdit/@item.UserId" class="btn btn-info btn-icon-split">
                        <span class="icon text-white-50">
                            <i class="fas fa-info-circle"></i>
                        </span>
                        <span class="text">詳細資料</span>
                    </a>
                </td>

            </tr>
        }
    </tbody>
</table>

@Html.PagedListPager(
    (IPagedList)Model,
    page => Url.Action("Member", new { page = page }),
    PagedListRenderOptions
        .EnableUnobtrusiveAjaxReplacing(
            new PagedListRenderOptions()
            {
                UlElementClasses = new[] { "pagination" },
                LiElementClasses = new[] { "page-item" },
                PageClasses = new[] { "page-link" },
                LinkToPreviousPageFormat = "«",
                LinkToNextPageFormat = "»",
                DisplayLinkToFirstPage = PagedListDisplayMode.IfNeeded,
                DisplayLinkToLastPage = PagedListDisplayMode.IfNeeded,
                DisplayLinkToPreviousPage = PagedListDisplayMode.Always,
                DisplayLinkToNextPage = PagedListDisplayMode.Always,
                MaximumPageNumbersToDisplay = 14
            },
            new AjaxOptions() { HttpMethod = "GET", UpdateTargetId = "Target", OnSuccess = "Success" })
)

@if (empToastr != "Guest")
{
    <script type="text/javascript">

        $(function () {

        Command: toastr["success"]("@empToastr");
        @{emp.HttpContext.Session.Remove("employeeToastr");}

        toastr.options = {
            "closeButton": false,
            "debug": false,
            "newestOnTop": false,
            "progressBar": true,
            "positionClass": "toast-top-right",
            "preventDuplicates": false,
            "onclick": null,
            "showDuration": "300",
            "hideDuration": "1000",
            "timeOut": "5000",
            "extendedTimeOut": "1000",
            "showEasing": "swing",
            "hideEasing": "linear",
            "showMethod": "fadeIn",
            "hideMethod": "fadeOut"
        }
    })
    </script>
}

<script>
    $("#nowGive1").click(function (event) {
        $("#search-input").val("Dorothy567");
    });
    $("#nowGive2").click(function (event) {
        $("#search-input").val("Dorothy@gmail.com");
    });
</script>