@model Prj_CSharpGo.Models.User

@{
    ViewData["Title"] = "會員編輯";
    Layout = "EmployeeLayout";
}

<h1 class="title_font">會員編輯</h1>

<h4>
    請輸入修改資料
</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form action="/Employee/MemberEdit/@Model.UserId" method="post">

            @Html.AntiForgeryToken()
            <div class="form-group row">
                <label class="col-sm-3 col-form-label" for="UserId">會員編號</label>
                <div class="col-sm-9">
                    <input class="form-control-plaintext" type="number" id="UserId" name="UserId" readonly value="@Model.UserId" />
                </div>
                <label class="col-sm-3 col-form-label"></label>
                <span class="text-danger field-validation-valid" data-valmsg-for="UserId" data-valmsg-replace="true"></span>
            </div>

            <div class="form-group row">
                <label class="col-sm-3 col-form-label" for="UserAccount">帳號</label>
                <div class="col-sm-9">
                    <input class="form-control-plaintext" type="text" id="UserAccount" name="UserAccount" readonly value="@Model.UserAccount" />
                </div>
                <label class="col-sm-3 col-form-label"></label>
                <span class="text-danger field-validation-valid" data-valmsg-for="UserAccount" data-valmsg-replace="true"></span>
            </div>

            <div class="form-group row">
                <label class="col-sm-3 col-form-label" for="Email">Email</label>
                <div class="col-sm-9">
                    <input class="form-control-plaintext" type="text" id="Email" name="Email" readonly value="@Model.Email" />
                </div>
                <label class="col-sm-3 col-form-label"></label>
                <span class="text-danger field-validation-valid" data-valmsg-for="Email" data-valmsg-replace="true"></span>
            </div>

            <div class="form-group row d-none">
                <label class="col-sm-3 col-form-label" for="UserPassword">密碼</label>
                <input class="form-control-plaintext col-sm-9" type="text" data-val="true" data-val-required="不可空白" id="UserPassword" name="UserPassword" readonly value="@Model.UserPassword" />
                <label class="col-sm-3 col-form-label"></label>
                <span class="text-danger field-validation-valid" data-valmsg-for="UserPassword" data-valmsg-replace="true"></span>
            </div>
            <div class="form-group row d-none">
                <label class="col-sm-3 col-form-label" for="IsSuccess">IsSuccess</label>
                <input asp-for="IsSuccess" class="form-control" value="@Model.IsSuccess" />

                <label class="col-sm-3 col-form-label"></label>
                <span class="text-danger field-validation-valid" data-valmsg-for="IsSuccess" data-valmsg-replace="true"></span>
            </div>
            <div class="form-group row d-none">
                <label class="col-sm-3 col-form-label" for="ConfirmPassword">ConfirmPassword</label>
                <input class="form-control-plaintext col-sm-9" type="text" id="ConfirmPassword" name="ConfirmPassword" readonly value="@Model.ConfirmPassword" />
                <label class="col-sm-3 col-form-label"></label>
                <span class="text-danger field-validation-valid" data-valmsg-for="ConfirmPassword" data-valmsg-replace="true"></span>
            </div>

            <div class="form-group row">
                <label class="col-sm-3 col-form-label" for="UserName">名字</label>
                <div class="col-sm-9">
                    <input class="form-control-plaintext" type="text" id="UserName" name="UserName" readonly value="@Model.UserName" />
                </div>
                <label class="col-sm-3 col-form-label"></label>
                <span class="text-danger field-validation-valid" data-valmsg-for="UserName" data-valmsg-replace="true"></span>
            </div>

            <div class="form-group row">
                <label class="col-sm-3 col-form-label" for="Birthday">生日</label>
                <div class="col-sm-9">
                    <input class="form-control-plaintext" type="hidden" id="Birthday" name="Birthday" readonly value="@Model.Birthday" />
                    <input class="form-control-plaintext"  id="" name="" readonly value="@Model.Birthday.ToString().Substring(0,10)" />
                </div>
                <label class="col-sm-3 col-form-label"></label>
                <span class="text-danger field-validation-valid" data-valmsg-for="Birthday" data-valmsg-replace="true"></span>
            </div>
            <div class="form-group row">
                <label class="col-sm-3 col-form-label" for="Region">地區</label>
                <div class="col-sm-9">
                    <input class="form-control-plaintext" type="text" id="Region" name="Region" readonly value="@Model.Region" />
                </div>
                <label class="col-sm-3 col-form-label"></label>
                <span class="text-danger field-validation-valid" data-valmsg-for="Region" data-valmsg-replace="true"></span>
            </div>
            <div class="form-group row">
                <label class="col-sm-3 col-form-label" for="Address">地址</label>
                <div class="col-sm-9">
                    <input class="form-control-plaintext" type="text" id="Address" name="Address" readonly value="@Model.Address" />
                </div>
                <label class="col-sm-3 col-form-label"></label>
                <span class="text-danger field-validation-valid" data-valmsg-for="Address" data-valmsg-replace="true"></span>
            </div>
            <div class="form-group row">
                <label class="col-sm-3 col-form-label" for="Phone">電話</label>
                <div class="col-sm-9">
                    <input class="form-control-plaintext" type="text" id="Phone" name="Phone" readonly value="@Model.Phone" />
                </div>
                <label class="col-sm-3 col-form-label"></label>
                <span class="text-danger field-validation-valid" data-valmsg-for="Phone" data-valmsg-replace="true"></span>
            </div>
            <div class="form-group row d-none">
                <label class="col-sm-3 col-form-label" for="Img">照片</label>
                <input class="form-control-plaintext col-sm-9" type="text" id="Img" name="Img" readonly value="@Model.Img" />
                <span class="text-danger field-validation-valid" data-valmsg-for="Img" data-valmsg-replace="true"></span>
            </div>
            <div class="form-group row d-none">
                <label class="col-sm-3 col-form-label" for="DiscountCode">優惠碼</label>
                <input class="form-control-plaintext col-sm-9" type="text" id="DiscountCode" name="DiscountCode" readonly value="@Model.DiscountCode" />
                <span class="text-danger field-validation-valid" data-valmsg-for="DiscountCode" data-valmsg-replace="true"></span>
            </div>

            <div class="form-group row">
                <label class="col-sm-3 col-form-label" for="UpdateDate">建立日期</label>
                <div class="col-sm-9">
                    <input class="form-control-plaintext" type="text" id="UpdateDate" name="UpdateDate" readonly value="@Model.UpdateDate.ToString()" />
                </div>
                <label class="col-sm-3 col-form-label"></label>
                <span class="text-danger field-validation-valid" data-valmsg-for="UpdateDate" data-valmsg-replace="true"></span>
            </div>

            <div class="form-group row">
                <label class="col-sm-3 col-form-label" for="UserStatus">帳號狀態</label>
                <div class="col-sm-9">
                    <select name="UserStatus" class="form-control">
                        @{if (Model.UserStatus == "NR")
                            {
                                <option value="NR" selected>正常</option>
                                <option value="SP">停權</option>
                                <option value="WL">註銷</option>
                            }
                            else if (Model.UserStatus == "SP")
                            {
                                <option value="NR">正常</option>
                                <option value="SP" selected>停權</option>
                                <option value="WL">註銷</option>
                            }
                            else
                            {
                                <option value="NR">正常</option>
                                <option value="SP">停權</option>
                                <option value="WL" selected>註銷</option>
                            }
                        }
                    </select>
                </div>
            </div>
            <div class="form-group row d-none">
                <label class="col-sm-3 col-form-label" for="Vip">Vip</label>
                <select name="Vip" class="form-control col-sm-9">
                    @{if (Model.UserStatus == "01")
                        {
                            <option value="01" selected>普通</option>
                            <option value="02">Vip</option>
                        }
                        else
                        {
                            <option value="01">普通</option>
                            <option value="02" selected>Vip</option>
                        }
                    }
                </select>
            </div>
            <div class="form-group">
                <input type="submit" value="確定送出" class="btn btn-primary" />
                <a href="/Employee/Member" class="btn btn-danger">回到清單</a>
            </div>
        </form>
    </div>
</div>
