@model IEnumerable<Prj_CSharpGo.Models.Order>

@{
    ViewData["Title"] = "Order";
    Layout = "EmployeeLayout";
}

<h1 class="title_font">訂單資料</h1>
<hr />
<div class="search-form">
    <label>
        訂單 或 會員 編號搜索
    </label>
    <input id="search-input" type="text" placeholder="" />
    <style id="m-search"></style>

    <div class="form-group d-inline">
        <button id="nowGive1" type="button" class="btn btn-light border border-0">.</button>
    </div>
    <span>&emsp;</span>
    <div class="form-group d-inline">
        <button id="nowGive2" type="button" class="btn btn-light border border-0">.</button>
    </div>

</div>
<script>
    var that = $(this);
    var mSearch = $("#m-search");
    $("#search-input").bind("change paste keyup focus", function () {
        var value = $(this).val();
        if (!value) {
            mSearch.html("");
            return;
        };
        mSearch.html('.wrap:not([data-index*="' + value + '"]) {display: none;}');
    });
</script>

<table class="table">
    <thead>
        <tr>
            <th>
                訂單編號
            </th>
            <th>
                會員編號
            </th>
            <th>
                訂單總額
            </th>
            <th>
                訂單建立時間
            </th>
            <th>
                訂單狀態
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr class="wrap" data-index="@item.OrderId @item.UserId @item.OrderDate">

            <td>
                @item.OrderId
            </td>
            <td>
                @item.UserId

            </td>
            <td>
                @item.TotalPrice
            </td>
            <td>
                @item.OrderDate
            </td>
            @if (@item.Approval == "NR")
            {
                <td>
                    已完成
                </td>
            }
            else if (@item.Approval == "SP")
            {
                <td>
                    出貨中
                </td>
            }
            else
            {
                <td>
                    取消
                </td>
            }

            <td class="text-xl-right">
                <a href="/Employee/OrderEdit/@item.OrderId" class="btn btn-info btn-icon-split">
                    <span class="icon text-white-50">
                        <i class="fas fa-info-circle"></i>
                    </span>
                    <span class="text">詳細資料</span>
                </a>
            </td>

        </tr>
        }
    </tbody>
</table>

<script>
    $("#nowGive1").click(function (event) {
        $("#search-input").val("1234626");
    });
    $("#nowGive2").click(function (event) {
        $("#search-input").val("1001");
    });
</script>