@using Microsoft.AspNetCore.Http

@model IEnumerable<Prj_CSharpGo.Models.Product>
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor emp

@{
    string empToastr = emp.HttpContext.Session.GetString("employeeToastr") ?? "Guest";
}

@{
    ViewData["Title"] = "Product";
    Layout = "EmployeeLayout";
}

<h1 class="title_font">商品資料</h1>
<hr />

<div>
    <a href="/Employee/ProductCreate" class="btn btn-outline-success">新增商品資料</a>
</div>
<br />

<div class="search-form">
    <label> 編號 或 商品名稱搜索 </label>
    <input id="search-input" type="text" placeholder="" />
    <style id="m-search"></style>

    <div class="form-group d-inline">
        <button id="nowGive1" type="button" class="btn btn-light border border-0">.</button>
    </div>
    <span>&emsp;</span>
    <div class="form-group d-inline">
        <button id="nowGive2" type="button" class="btn btn-light border border-0">.</button>
    </div>

</div>


<script>
    var that = $(this);
    var mSearch = $("#m-search");
    $("#search-input").bind("change paste keyup focus", function () {
        var value = $(this).val();
        if (!value) {
            mSearch.html("");
            return;
        };
        mSearch.html('.wrap:not([data-index*="' + value + '"]) {display: none;}');
    });
</script>

<table class="table">
    <thead>
        <tr>
            <th>
                編號
            </th>
            <th>
                類別
            </th>
            <th>
                名稱
            </th>
            <th>
                單價
            </th>
            <th>
                庫存
            </th>
            <th>
                商品狀態
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr class="wrap" data-index="@item.ProductId @item.ProductName">


                <td>
                    <a href="/CampProducts/ProductDetail?productid=@item.ProductId">@item.ProductId</a>
                </td>

                @{
                    switch (@item.CategoryId)
                    {
                        case "A ":
                            <td>帳篷</td>
                            break;
                        case "B ":
                            <td>寢具</td>
                            break;
                        case "C ":
                            <td>戶外家具</td>
                            break;
                        case "D ":
                            <td>廚房用品</td>
                            break;
                        default:
                            <td>食品</td>
                            break;
                    }
                }

                <td>
                    @item.ProductName
                </td>
                <td>
                    @item.UnitPrice
                </td>
                <td>
                    @item.UnitInStock
                </td>
                @if (@item.Status == "01")
                {
                    <td>
                        販賣中
                    </td>
                }
                else
                {
                    <td>
                        停賣
                    </td>
                }


                <td class="text-xl-right">
                    <a href="/Employee/ProductEdit/@item.ProductId" class="btn btn-info btn-icon-split">
                        <span class="icon text-white-50">
                            <i class="fas fa-info-circle"></i>
                        </span>
                        <span class="text">編輯資料</span>
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>

@if (empToastr != "Guest")
{
    <script type="text/javascript">

        $(function () {

        Command: toastr["success"]("@empToastr");
        @{emp.HttpContext.Session.Remove("employeeToastr");}

        toastr.options = {
            "closeButton": false,
            "debug": false,
            "newestOnTop": false,
            "progressBar": true,
            "positionClass": "toast-top-right",
            "preventDuplicates": false,
            "onclick": null,
            "showDuration": "300",
            "hideDuration": "1000",
            "timeOut": "5000",
            "extendedTimeOut": "1000",
            "showEasing": "swing",
            "hideEasing": "linear",
            "showMethod": "fadeIn",
            "hideMethod": "fadeOut"
        }
    })
    </script>
}

<script>
    $("#nowGive1").click(function (event) {
        $("#search-input").val("Cc20CS059");
    });
    $("#nowGive2").click(function (event) {
        $("#search-input").val("桔楓印地安300帳");
    });
</script>