@model Prj_CSharpGo.Models.CampreserveModels.CampreserveOrderModel;

@{
    ViewData["Title"] = "營地預約訂單";
}

<head>


    <style>
        h3, .h3, h2, .h2 {
            font-weight: 700;
        }

        #article {
            font-weight: 700;
        }
    </style>




</head>

<main id="main">

    <!-- ======= Intro Single ======= -->
    <section class="intro-single" style="margin-top:-120px">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-lg-8">
                    <div class="title-single-box">
                        <h1 class="title-single">露營場地預約訂單</h1>
                    </div>
                </div>

            </div>
        </div>
    </section><!-- End Intro Single-->
    <!-- ======= Blog Single ======= -->
    <section class="news-single nav-arrow-b">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <h3>場地預約訂單明細</h3>
                </div>
                <br>


                <table class="table" style="font-size: 20px; font-weight: 700">
                    <thead>
                        <tr class="table-warning">
                            <th scope="col">圖片</th>
                            <th scope="col">場地名稱</th>
                            <th scope="col">租借日期</th>
                            <th scope="col">退租日期</th>
                            <th scope="col">小 計</th>
                            <th scope="col">帳數</th>
                            <th scope="col">加購人頭數</th>
                            <th scope="col">總金額</th>
                        </tr>
                    </thead>

                    <tbody>
                        <tr>
                            <th style="width:200px"><img src="~/img/@ViewBag.Img" width="150"></th>
                            <th style="width:150px" scope="row">@Model.CampName</th>
                            <td style="width:160px">@Model.StartDay.ToString("yyyy-MM-dd")</td>
                            <td style="width:160px">@Model.EndDay.ToString("yyyy-MM-dd")</td>
                            <td style="width:130px">
                                @Model.TotalPricesmall 元 <br />
                                ( @Model.Daycount 晚)
                            </td>
                            <td style="width:110px">@Model.CampQuantity</td>
                            <td style="width:180px">
                                <select class="$form-select-bg-position" name="PlusPrice" id="PlusPrice" style="font-weight: 700;font-size:20px">
                                    <option value="0">  0</option>
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                </select> * 100 元/人
                                <div><div id="pricevalue1"></div></div>

                            </td>
                            <td style="width:130px" id="total_price">
                                @Model.TotalPricebig 元
                            </td>
                        </tr>
                    </tbody>

                </table>
                @using (Html.BeginForm("ComfirmResult", "Campreserve", FormMethod.Post))
                {
                    @Html.HiddenFor(Model => Model.CampOrderID)
                    @Html.HiddenFor(Model => Model.UserId)
                    @Html.HiddenFor(Model => Model.CampId)
                    @Html.HiddenFor(Model => Model.CampQuantity)
                    @Html.HiddenFor(Model => Model.StartDay)
                    @Html.HiddenFor(Model => Model.EndDay)
                    @Html.HiddenFor(Model => Model.WeekdayPrice)
                    @Html.HiddenFor(Model => Model.HolidayPrice)
                    @Html.HiddenFor(Model => Model.HolidayPrice)
                    @Html.HiddenFor(Model => Model.Peoplenumber)
                    @Html.HiddenFor(Model => Model.TotalPrice)
                    @Html.HiddenFor(Model => Model.PlusPrice)
                    @Html.HiddenFor(Model => Model.TotalPricebig)


                    <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                        <a href="/Campreserve/Index" type="button" class="btn btn-secondary" style="font-weight: 700;font-size:18px">取消</a>
                        <button type="submit" class="btn btn-success" id="comform"style="font-weight: 700;font-size:18px">確認</button>

                    </div>



                }

            </div>
        </div>
    </section>

</main><!-- End #main -->
<!-- ======= Footer ======= -->
<!-- Template Main JS File -->
@*<script src="~/js/main.js"></script>*@
<script src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
        crossorigin="anonymous"></script>


<script>

        var origin_price =@Model.TotalPricebig;
        $("#PlusPrice").change(function () {
            if (PlusPrice != null) {
                $("#pricevalue1").empty()
                $("#pricevalue2").empty()
            }
            var s = parseInt($("#PlusPrice").prop("value"))*100;

            $("#pricevalue1").append("(共  "  +  s  +  "  元)");
            $("#pricevalue2").append("(共  "  +  s  +  "  元)");
            $('#total_price').text(origin_price + parseInt(s)+"元");
            $("#Peoplenumber").val(s/100)


        });

        @*$("#comform").click(function () {
            alert('@Html.Raw(ViewBag.messagea)');
         });*@

</script>








