@model Prj_CSharpGo.Models.Recipe


@{
    ViewData["Title"] = "cust_Detail";
}

<link rel="stylesheet" href="~/Didi/css/recipe.css?v=0.1">

<!DOCTYPE html>
<html lang="en">
<body>
    <!-- Receipe Slider -->
    <div class="container" style="text-align: center; margin-top: 40px;">
        <img src="~/Didi/img/@Model.Img" style="max-width: 600px;max-height: 700px" />
    </div>
    <!-- Receipe Content Area -->
    <div class="receipe-content-area">
        <div class="container">
            <div class="row" style="margin-top:50px;">
                <div class="col-12 col-md-10 " style="padding-left: 170px;text-align: center;;">
                    @* 未顯示 *@
                    <span>@Model.PublishTime</span>
                    <h2 class="re_font">@Model.RecipeName</h2>
                    <div class="receipe-duration">
                        <h6 class="re_font">準備時間: @Model.PreparationTime 分鐘</h6>
                        <h6 class="re_font">烹煮時間: @Model.CookingTime 分鐘</h6>
                        <h6 class="re_font">份量: @Model.Yield 人份</h6>
                    </div>
                </div>
                <!--<div class="col-12 col-md-2">-->
                @*修改&刪除*@
                @*<a class="btn btn-success bi bi-pencil-square" href="/Recipe/Edit/@Model.RecipeId"></a>*@
                @*@Html.ActionLink("", "delete", new { id = Model.RecipeId }, new { @class = "btn btn-success bi bi-trash" })*@
                <!--</div>-->
            </div>
            <div class="single-preparation-step" style="padding-left: 160px">
                <div class="row">
                    <div class="col-md-7">
                        @*<p>
                            <h3>需準備食材:</h3>
                        </p>*@
                        <p>
                            <h3 class="re_font">01.備料</h3>
                        </p>
                        <p class="re_fonts">@Html.Raw(Model.Preparation.Replace(Environment.NewLine, "<br/>"))</p>
                        <p>
                            <h3 class="re_font">02.烹煮步驟</h3>
                        </p>
                        <p class="re_fonts">@Html.Raw(Model.Step.Replace(Environment.NewLine, "<br/>"))</p>
                    </div>
                    <div class="col-md-5">
                        <p>
                            <h3 class="re_font">推薦商品</h3>
                        </p>
                        @foreach (var ass in ViewData["Association"] as List<Association>)
                        {
                            @foreach (var pro in ViewData["Product"] as List<Product>)
                            {
                                @foreach (var img in ViewData["productimg"] as List<ProductImg>)
                                {
                                    if (ass.ProductId == img.ProductId)
                                    {
                                        if (Model.RecipeId == ass.RecipeId)
                                        {
                                            if (ass.ProductId == pro.ProductId)
                                            {
                                                <a href="/CampProducts/ProductDetail?productid=@pro.ProductId">
                                                    <img  src="~/img/ProductsImg/@img.Img" style="max-width: 100px;max-height: 100px"  />
                                                </a>
                                                <a href="/CampProducts/ProductDetail?productid=@pro.ProductId" >
                                                    @pro.ProductName/@pro.ProductDescription
                                                </a><br />
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>