@model Prj_CSharpGo.Models.SearchAllViewModel

@{
    ViewData["Title"] = "商品";
}

<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="apple-touch-icon" href="~/Bassets/img/apple-icon.png">
    <link rel="shortcut icon" type="image/x-icon" href="~/Bassets/img/favicon.ico">

    <link rel="stylesheet" href="~/Bassets/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/Bassets/css/templatemo.css">
    <link rel="stylesheet" href="~/Bassets/css/custom.css">

    <!-- Load fonts style after rendering the layout styles -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;200;300;400;500;700;900&display=swap">
    <link rel="stylesheet" href="~/Bassets/css/fontawesome.min.css">

</head>

<body>


    <!-- Modal -->
    <div class="modal fade bg-white" id="templatemo_search" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="w-100 pt-1 mb-5 text-right">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form action="" method="get" class="modal-content modal-body border-0 p-0">
                <div class="input-group mb-2">
                    <input type="text" class="form-control" id="inputModalSearch" name="q" placeholder="Search ...">
                    <button type="submit" class="input-group-text bg-success text-light">
                        <i class="fa fa-fw fa-search text-white"></i>
                    </button>
                </div>
            </form>
        </div>
    </div>



    <!-- Start Content -->
    <br /> <br /> <br /> <br /> <br />

    <div class="container py-5" style="margin-top:-70px">
        <div class="row">

            <div class="col-lg-3" style="width: 300px">
                <h1 class="h2 pb-4">商品分類</h1>
                <ul class="list-unstyled templatemo-accordion">

                    @foreach (var item in Model.categories)
                    {
                        <li class="pb-3">
                            <a class="collapsed d-flex justify-content-between h3 text-decoration-none" href="/CampProducts/Index">
                                @item.CategoryName
                                <i class="fa fa-fw fa-chevron-circle-down mt-1"></i>
                            </a>
                            <ul class="collapse show list-unstyled pl-3">
                                @foreach (var itema in Model.categoriesTypeIs)
                                {
                                    if (item.CategoryId == itema.CategoryId)
                                    {
                                        <li><a class="text-decoration-none" href="/CampProducts/Index?categoryid=@item.CategoryId&categorytype=@itema.CategoryTypeI">@itema.TypeIname</a></li>
                                    }

                                }
                            </ul>
                        </li>
                    }

                </ul>
            </div>

            <div class="col-lg-9">
                <div class="row">
                    <div class="col-md-6" style="width:500px">
                        <ul class="list-inline shop-top-menu pb-3 pt-1">
                            <li class="list-inline-item">
                                <a class="h3 text-dark text-decoration-none mr-3" href="/CampProducts/Index">全部</a>
                            </li>

                            @foreach (var item in Model.categories)
                            {
                                <li class="list-inline-item">
                                    <a href="/CampProducts/Index?categoryid=@item.CategoryId" class="h3 text-dark text-decoration-none mr-3">@item.CategoryName</a>
                                </li>

                            }


                        </ul>
                    </div>

                </div>
                <div class="row">

                    @foreach (var item in Model.products)
                    {
                        <div class="col-md-4">
                            <div class="card mb-4 product-wap rounded-0">

                                @if (Model.productImgs.ToList().FirstOrDefault(x => x.ProductId == item.ProductId) != null)
                                {

                                    <div class="card rounded-0">
                                        <img class="card-img rounded-0 img-fluid" style="width:302.8px;height:302.8px" src="/img/ProductsImg/@Model.productImgs.ToList().FirstOrDefault(x => x.ProductId == item.ProductId).Img">
                                        <div class="card-img-overlay rounded-0 product-overlay d-flex align-items-center justify-content-center">
                                            <ul class="list-unstyled">
                                           
                                                <li><a class="btn btn-success text-white mt-2" href="/CampProducts/ProductDetail?productid=@item.ProductId"><i class="far fa-eye"></i></a></li>
                                               
                                            </ul>
                                        </div>
                                    </div>

                                }
                                else
                                {
                                    <div class="card rounded-0">
                                        無照片
                                        <div class="card-img-overlay rounded-0 product-overlay d-flex align-items-center justify-content-center">
                                            <ul class="list-unstyled">

                                                <li><a class="btn btn-success text-white mt-2" href="/CampProducts/ProductDetail?productid=@item.ProductId"><i class="far fa-eye"></i></a></li>

                                            </ul>
                                        </div>
                                    </div>
                                }

                                <div class="card-body">
                                    <a href="shop-single.html" class="h3 text-decoration-none">@item.ProductName</a>
                                    <ul class="w-100 list-unstyled d-flex justify-content-between mb-0">

                                        <li>@Model.categories.Where(s => s.CategoryId == item.CategoryId).FirstOrDefault().CategoryName</li>
                                        <li>@Model.categoriesTypeIs.Where(s => s.CategoryTypeI == item.CategoryType).FirstOrDefault().TypeIname</li>

                                        <li class="pt-2">
                                            <span class="product-color-dot color-dot-red float-left rounded-circle ml-1"></span>
                                            <span class="product-color-dot color-dot-blue float-left rounded-circle ml-1"></span>
                                            <span class="product-color-dot color-dot-black float-left rounded-circle ml-1"></span>
                                            <span class="product-color-dot color-dot-light float-left rounded-circle ml-1"></span>
                                            <span class="product-color-dot color-dot-green float-left rounded-circle ml-1"></span>
                                        </li>
                                    </ul>

                                    <p class="text-center mb-0">$@item.UnitPrice</p>
                                </div>
                            </div>
                        </div>
                    }
                </div>
           
            </div>

        </div>
    </div>
    <!-- End Content -->
    <!-- Start Brands -->




    <!--End Brands-->
    <!-- Start Script -->
    <script src="~/Bassets/js/jquery-1.11.0.min.js"></script>
    <script src="~/Bassets/js/jquery-migrate-1.2.1.min.js"></script>
    <script src="~/Bassets/js/bootstrap.bundle.min.js"></script>
    <script src="~/Bassets/js/templatemo.js"></script>
    <script src="~/Bassets/js/custom.js"></script>
    <!-- End Script -->
</body>
</html>


@*<form asp-controller="Search" asp-action="Index">
        <p>
            關鍵字<input type="text" name="SearchString" />
            <input type="submit" value="search" />
        </p>
    </form>*@
<!-- index -->
@*<div id="sb-site">
    <div class="site_path">
        <div class="container">
            <ol class="breadcrumb">
                <li>
                    <a href="/"><span class="sr-only">首頁</span><i class="fa fa-home" aria-hidden="true"></i></a>
                </li>
                <li class="active">搜尋商品</li>
            </ol>
        </div>
    </div>*@

