@using Microsoft.AspNetCore.Http
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor user

@model Prj_CSharpGo.Models.ViewModels.MemberOrder

@{
    ViewData["Title"] = "取消訂單";
}

@{
    string userId = user.HttpContext.Session.GetString("userId") ?? "Guest";
    string userToastr = user.HttpContext.Session.GetString("userToastr") ?? "Guest";
    string shopcart = user.HttpContext.Session.GetString("shopcart") ?? "Guest";
}


<!DOCTYPE html>
<html lang="zh-tw">

<head>
    <meta charset="utf-8" />

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>

    <link rel="stylesheet" href="~/css/LoginRegister.css">
    <link rel="stylesheet" href="~/css/sb-admin-2.min.css">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link href="~/Content/toastr.min.css" rel="stylesheet" />

    <style>
        h1 {
            text-align: center;
            font-weight: bolder;
        }
    </style>
</head>


<body>
    <div class="container-fluid">
        <div class="row">

            <div class="col-12 col-md-12 col-lg-12 col-xl-12 align-content-center justify-content-start">
                <h1 class="align-content-center justify-content-start">【訂單詳細資訊】</h1>
            </div>
            <div class="col-12 col-md-12">
                <hr class="col-10 col-md-10  align-content-center justify-content-start" style="margin: 1vh auto; width: 100%; text-align: center; " />
            </div>
            <div class="col-12 col-md-12"></div>
            <!----------------------------------------- 過 渡 白 板 ---------------------------------------->
            <div class="col-1 col-md-1"></div>
            <!----------------------------------------- Start SideNavBar ---------------------------------------->
            <div class="side-navbar col-1 col-md-1">
                <ul class="list-group nav nav-pills flex-column">
                    <li class="list-group-item nav-item border border-0"><a class="nav-link btn btn-outline-primary" id="profile" href="/Auth/Index">會員檔案</a></li>
                    <hr />
                    <li class="list-group-item nav-item border border-0"><a class="nav-link btn btn-outline-primary" id="change-password" href="/Auth/ChangePassword">密碼設置</a></li>
                    <hr />
                    <li class="list-group-item nav-item border border-0"><a class="nav-link btn btn-outline-primary" id="order-detail" href="/Auth/MemberOrder">訂單查詢</a></li>
                    <hr />
                    <li class="list-group-item nav-item border border-0"><a class="nav-link btn btn-outline-primary" id="order-detail" href="/Campreserve/MemberOrder">預約查詢</a></li>
                </ul>
            </div>
            <!----------------------------------------- 過 渡 白 板 ---------------------------------------->
            <div class="col-1 col-md-1"></div>
            <!----------------------------------------- End SideNavBar ---------------------------------------->

            <div class="col-9 col-md-9">
                <div class="row">
                    <div class="col-md-10">

                        <form action="/Auth/MemberOrderEdit/@Model._order.OrderId" method="post">

                            <div class="form-group ">
                                @if (Model._order.Approval == "SP")
                                {
                                    <input type="submit" value="取消訂單" class="btn btn-danger" />
                                    <a href="/Auth/MemberOrder" class="btn btn-primary">回上一頁</a>
                                }
                                else
                                {
                                    <a href="/Auth/MemberOrder" class="btn btn-primary">回上一頁</a>
                                }
                            </div>


                            <div class="form-group row d-none">
                                <input class="form-control-plaintext col-sm-9" type="hidden" id="OrderId" name="OrderId" readonly value="@Model._order.OrderId" />
                            </div>
                            @*
        <div class="form-group row d-none">
            <input class="form-control-plaintext col-sm-9" type="text" id="UserId" name="UserId" readonly value="@Model._order.UserId" />
        </div>

        <div class="form-group row d-none">
            <input class="form-control-plaintext col-sm-9" type="text" id="TotalPrice" name="TotalPrice" readonly value="@Model._order.TotalPrice" />
        </div>

        <div class="form-group row d-none">
            <input class="form-control-plaintext col-sm-9" type="text" id="PayMethod" name="PayMethod" readonly value="@Model._order.PayMethod" />
        </div>

        <div class="form-group row d-none">
            <input class="form-control-plaintext col-sm-9" type="text" id="OrderDate" name="OrderDate" readonly value="@Model._order.OrderDate" />
        </div>

        <div class="form-group row d-none">
            <input class="form-control-plaintext col-sm-9" type="text" id="OrderDate" name="OrderDate" readonly value="@Model._order.Address" />
        </div>

        <div class="form-group row d-none">
            <input class="form-control-plaintext col-sm-9" type="text" id="OrderDate" name="OrderDate" readonly value="@Model._order.UserName" />
        </div>*@

                            @*<div class="form-group row d-none">
            <input class="form-control-plaintext col-sm-9" type="text" id="OrderDate" name="OrderDate" readonly value="@Model._order.Approval" />
        </div>*@


                            <table class="table">

                                <thead>
                                    <tr>
                                        <th>
                                            商品名稱
                                        </th>
                                        <th>
                                            單價
                                        </th>
                                        <th>
                                            數量
                                        </th>
                                        <th>
                                            小計
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model.OrderDetails)
                                    {
                                        int? subtotal = item.UnitPrice * item.Quantity;
                                        <tr>
                                            <td>
                                                @Model.Products.FirstOrDefault(x => x.ProductId == item.ProductId).ProductName
                                            </td>
                                            <td>
                                                @item.UnitPrice
                                            </td>
                                            <td>
                                                @item.Quantity
                                            </td>
                                            <td>
                                                @subtotal
                                            </td>
                                        </tr>
                                    }
                                    <tr>
                                        <td></td>
                                        <td></td>
                                        <td>
                                            <br />
                                            <b>總金額</b>
                                        </td>
                                        <td>
                                            <br />
                                            <b>@Model._order.TotalPrice</b>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <div class="form-group row ">
                                <label class="col-sm-3 col-form-label">訂單編號</label>
                                <input class="form-control-plaintext col-sm-9" type="text" id="OrderId" name="OrderId" readonly value="@Model._order.OrderId" />
                            </div>

                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label">收件者</label>
                                <input class="form-control-plaintext col-sm-9" type="text" id="UserName" name="UserName" readonly value="@Model._order.UserName" />
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label">郵務地址</label>
                                <input class="form-control-plaintext col-sm-9" type="text" id="Address" name="Address" readonly value="@Model._order.Address" />
                            </div>

                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label">付款方式</label>
                                @if (Model._order.PayMethod == "01")
                                {<input class="form-control-plaintext col-sm-9 d-none" type="text" id="PayMethod" name="AddPayMethodress" readonly value="01" />
                                    <label class="form-control-plaintext col-sm-9">ATM</label>}
                                else if (Model._order.PayMethod == "02")
                                {<input class="form-control-plaintext col-sm-9 d-none" type="text" id="PayMethod" name="PayMethod" readonly value="02" />
                                    <label class="form-control-plaintext col-sm-9">信用卡</label>}
                                else if (Model._order.PayMethod == "03")
                                {<input class="form-control-plaintext col-sm-9 d-none" type="text" id="PayMethod" name="PayMethod" readonly value="03" />
                                    <label class="form-control-plaintext col-sm-9">貨到付款</label>}
                            </div>
                            
                            <div class="form-group row ">
                                <label class="col-sm-3 col-form-label">訂單建立時間</label>
                                <input class="form-control-plaintext col-sm-9" type="text" id="OrderDate" name="OrderDate" readonly value="@Model._order.OrderDate" />
                            </div>
                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>





    @if (userToastr == "已為您完成取消訂單")
    {
        <script type="text/javascript">

        $(function () {

        Command: toastr["success"]("@userToastr");
        @{user.HttpContext.Session.Remove("userToastr");}

        toastr.options = {
            "closeButton": false,
            "debug": false,
            "newestOnTop": false,
            "progressBar": true,
            "positionClass": "toast-top-right",
            "preventDuplicates": false,
            "onclick": null,
            "showDuration": "300",
            "hideDuration": "1000",
            "timeOut": "5000",
            "extendedTimeOut": "1000",
            "showEasing": "swing",
            "hideEasing": "linear",
            "showMethod": "fadeIn",
            "hideMethod": "fadeOut"
        }
    })
        </script>
    }
    else if (userToastr == "訂單狀態未變更" || userToastr == "目前您的身分為訪客，請重新登入")
    {
        <script type="text/javascript">

        $(function () {

        Command: toastr["error"]("@userToastr");
        @{user.HttpContext.Session.Remove("userToastr");}

        toastr.options = {
            "closeButton": false,
            "debug": false,
            "newestOnTop": false,
            "progressBar": true,
            "positionClass": "toast-top-right",
            "preventDuplicates": false,
            "onclick": null,
            "showDuration": "300",
            "hideDuration": "1000",
            "timeOut": "5000",
            "extendedTimeOut": "1000",
            "showEasing": "swing",
            "hideEasing": "linear",
            "showMethod": "fadeIn",
            "hideMethod": "fadeOut"
        }
    })
        </script>
    }
    else if (userToastr == "已幫您查詢訂單，但未能成功")
    {
        <script type="text/javascript">

        $(function () {

            Command: toastr["warning"]("@userToastr");
        @{user.HttpContext.Session.Remove("userToastr");}

        toastr.options = {
            "closeButton": false,
            "debug": false,
            "newestOnTop": false,
            "progressBar": true,
            "positionClass": "toast-top-right",
            "preventDuplicates": false,
            "onclick": null,
            "showDuration": "300",
            "hideDuration": "1000",
            "timeOut": "5000",
            "extendedTimeOut": "1000",
            "showEasing": "swing",
            "hideEasing": "linear",
            "showMethod": "fadeIn",
            "hideMethod": "fadeOut"
        }
    })
        </script>
    }

    @if (shopcart == "訂單已產生")
    {
        <script type="text/javascript">

        $(function () {

        Command: toastr["success"]("@shopcart");
        @{user.HttpContext.Session.Remove("shopcart");}

        toastr.options = {
            "closeButton": false,
            "debug": false,
            "newestOnTop": false,
            "progressBar": true,
            "positionClass": "toast-top-right",
            "preventDuplicates": false,
            "onclick": null,
            "showDuration": "300",
            "hideDuration": "1000",
            "timeOut": "5000",
            "extendedTimeOut": "1000",
            "showEasing": "swing",
            "hideEasing": "linear",
            "showMethod": "fadeIn",
            "hideMethod": "fadeOut"
        }
    })
        </script>
    }


    @section Scripts {
        <partial name="_ValidationScriptsPartial" />
    }

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/js/toastr.min.js"></script>

</body>
</html>