@using Microsoft.AspNetCore.Http

@*@model Prj_CSharpGo.Models.ShopCartViewModels.returnshCartIndexVM*@

@model Prj_CSharpGo.Models.ShopCartViewModels.CartView

@inject Microsoft.AspNetCore.Http.IHttpContextAccessor user
@{
    string f_userId = user.HttpContext.Session.GetString("userId") ?? "1001";
    string shopcart = user.HttpContext.Session.GetString("shopcart");
}

@{
    ViewData["Title"] = "購物車";
}


<main id="main">

    <!-- ======= Intro Single ======= class="intro-single"-->
    <section style="margin-top:60px">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-lg-8">
                    <div class="title-single-box">
                        <h1 class="title-single">購物車</h1>
                    </div>
                </div>
                @*<div class="col-md-12 col-lg-4">
                        <nav aria-label="breadcrumb" class="breadcrumb-box d-flex justify-content-lg-end">
                            <ol class="breadcrumb">

                            </ol>
                        </nav>
                    </div>*@
            </div>
        </div>
    </section><!-- End Intro Single-->
    <!-- ======= Blog Single ======= -->
    <section class="news-single nav-arrow-b">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    @*<h3>購物車清單</h3>*@
                </div>
                <br>

                <input type="hidden" name="UserId" id="UserId" value="@Model.UserId" />
                <table class="table">
                    <thead>
                        <tr class="table-warning">
                            <th scope="col">貨號</th>
                            <th scope="col">圖片</th>
                            <th scope="col">商品名稱</th>
                            <th scope="col">單價</th>
                            <th scope="col"></th>
                            <th scope="col">數量</th>
                            <th scope="col"></th>
                            <th scope="col">小 計</th>
                            <th scope="col"></th>
                        </tr>
                    </thead>

                    <tbody>
                        @{ int i = 1;
                            int? Totall = 0;
                            @foreach (var item in Model.ShoppingCarts)
                            {
                                int? subtotal = item.Quantity * item.UnitPrice;


                                string temp1 = "price" + i;
                                string temp2 = "getUUP" + i;
                                string temp3 = "pricevalue" + i;
                                string temp4 = "before" + i;


                                <tr>
                                    <th scope="row">@item.ProductId</th>
                                    <td>
                                        <img class="card-img rounded-0 img-fluid" style="width:200px;height:200px" src="/img/ProductsImg/@Model.ProductImgs.FirstOrDefault(x => x.ProductId == item.ProductId).Img">
                                    </td>
                                    <td>@item.ProductName</td>  <!--.FirstOrDefault(x => x.ProductId == item.ProductId).ProductName-->
                                    <td id="SHOUP" name="SHOUP">@item.UnitPrice 元</td>

                                    <input type="hidden" name="getUUP" id="@temp2" value="@item.UnitPrice" />


                                    <td style="width: 15px;height:15px">
                                        @*會員手動調整商品數量    應該要推進購物車資料庫裡的數量*@
                                        <div class="col-md-1-4-1">
                                            @using (Html.BeginForm("dash", "PShopCart", FormMethod.Post))//指定提交傳回控制器方式//應該改成AddOrder
                                            {
                                                <input type="hidden" name="ProductId" id="ProductId" value="@item.ProductId" />
                                                <input type="submit" value="-" class="btn btn-success">
                                            }
                                        </div>
                                    </td>

                                    <td style="width: 65px;height:65px;margin:-10px">
                                        <div>
                                            <input class="form-control" name="PQuantity" id="@temp1" value="@item.Quantity" readonly>
                                        </div>
                                    </td>

                                    <td style="width: 15px;height:15px">
                                        <div class="col-md-1-4-1">
                                            @using (Html.BeginForm("plus", "PShopCart", FormMethod.Post))//指定提交傳回控制器方式//應該改成AddOrder
                                            {
                                                <input type="hidden" name="ProductId" id="ProductId" value="@item.ProductId" />
                                                <input type="submit" value="+" class="btn btn-success">
                                            }
                                        </div>
                                    </td>
                                    @*各項單品小計(隨會員更改浮動相乘)@Model.PuserFilterModel.SMTotal*@

                                    <td>
                                        <div id="@temp3">@subtotal 元</div>
                                    </td>

                                    <input type="hidden" id="@temp4" value="" />


                                    <td>
                                        @*總金額(小計相加)@Model.PuserFilterModel.BigTotal =   @<tr id="Total">@Totall 元</tr> *@
                                        @{ Totall += subtotal;}
                                        @using (Html.BeginForm("delete", "PShopCart", FormMethod.Post))//指定提交傳回控制器方式//應該改成AddOrder
                                        {
                                            <input type="hidden" name="ProductId" id="ProductId" value="@item.ProductId" />
                                            <input type="submit" value="刪掉" class="btn btn-secondary">
                                        }
                                    </td>
                                    <td>
                                    </td>

                                </tr>

                                i++;

                            }
                        }

                        <tr class="table-warning">
                            <th scope="col"></th>
                            <th scope="col"></th>
                            <th scope="col"></th>
                            <th scope="col"></th>
                            <th scope="col"></th>
                            <th scope="col"></th>
                            <th scope="col"></th>
                            <th scope="col">總金額：</th>
                            <th scope="col"> @Totall 元</th>
                        </tr>

                    </tbody>

                </table>

                <form action="/PShopCart/Bill" method="post">
                    <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                        <a href="/CampProducts" type="button" class="btn btn-secondary">再逛逛</a>
                    </div>
                    @Html.AntiForgeryToken()

                    <div class="form-group">
                        <button id="nowGive1" type="button" class="btn btn-dark">同會員資料</button>
                    </div>

                    <div class="form-group row">
                        <label class="col-sm-3 col-form-label" for="UserName">收件人名稱</label>
                        <input class="form-control col-sm-9" type="text" data-val="true" data-val-required="不可空白" id="UserName" name="UserName" />
                        <label class="col-sm-3 col-form-label"></label>
                        <span class="text-danger field-validation-valid" data-valmsg-for="UserName" data-valmsg-replace="true"></span>
                    </div>

                    <div class="form-group row">
                        <input id="Address1" type="hidden" value="@Model.Address" />
                        <label class="col-sm-3 col-form-label" for="Address">地址</label>
                        <input class="form-control col-sm-9" type="text" data-val="true" data-val-required="不可空白" id="Address" name="Address" />
                        <label class="col-sm-3 col-form-label"></label>
                        <span class="text-danger field-validation-valid" data-valmsg-for="Address" data-valmsg-replace="true"></span>
                    </div>


                    <div class="form-group row">
                        <label class="col-sm-3 col-form-label" for="PayMethod">付款方式</label>
                        <select name="PayMethod" id="PayMethod" class="form-control col-sm-9">
                            <option value="01">ATM</option>
                            <option value="02">信用卡</option>
                            <option value="03">貨到付款</option>
                        </select>
                    </div>




                    <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                        <input type="submit" id="shopend" class="btn btn-success" value="確定">
                    </div>


                </form>
            </div>
        </div>

    </section>
</main><!-- End #main -->
<!-- ======= Footer ======= -->
<!-- Template Main JS File -->
@*<script src="~/js/main.js"></script>*@
<script src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
        crossorigin="anonymous">

</script>

@{
    //string userName;
    //string address;

    //foreach (var item in ViewData["User"] as IEnumerable<User>)
    //{
    //    userName = item.UserName;
    //    address = item.Address;
    //}

}

<link href="~/css/emplayout.css?v=0.1" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>

    <link rel="stylesheet" href="~/css/LoginRegister.css">
    <link rel="stylesheet" href="~/css/sb-admin-2.min.css">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link href="~/Content/toastr.min.css" rel="stylesheet" />

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/js/toastr.min.js"></script>

@if (shopcart == "購物車沒有東西")
{
    <script type="text/javascript">

        $(function () {

        Command: toastr["error"]("@shopcart");
        @{user.HttpContext.Session.Remove("shopcart");}

        toastr.options = {
            "closeButton": false,
            "debug": false,
            "newestOnTop": false,
            "progressBar": true,
            "positionClass": "toast-top-right",
            "preventDuplicates": false,
            "onclick": null,
            "showDuration": "300",
            "hideDuration": "1000",
            "timeOut": "5000",
            "extendedTimeOut": "1000",
            "showEasing": "swing",
            "hideEasing": "linear",
            "showMethod": "fadeIn",
            "hideMethod": "fadeOut"
        }
    })
    </script>
}

<script>

    $("#nowGive1").click(function (event) {


        $("#UserName").val("@Model.UserName");
        $("#Address").val($("#Address1").val());

    });

</script>
